# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.fitate.iml
/modules.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.xml
fitate/fitate/.env
fitate/fitate/pwsw-906cf-firebase-adminsdk-2350p-100d2aa3a6.json
*.sentinel
*.info
